<section class="section">
    <div class="extras">
        <div class="date">
            Access expires on <span class="boldDate">{{expiryDate | date}}</span>
        </div>
    </div>
    <div class="container">
        <div class="pt-4">
            <p class="Greeting">Greetings!</p>
        </div>
        <div class="pt-1">
            <p class="text-start">You can view your Total Rewards Statements from the link provided below.</p>
        </div>
        <div class="pt-3">
            <img src="../../../assets/Images/money-bills.svg" alt="">
            <a [routerLink]="['/candidate/offer-letter']" class="link">Total Rewards Package</a>
        </div>
    </div>
</section>