<!-- <section>
    <div class="forgot-div">
        <div class="Forgot-password group">
            <p>Forgot Password</p>
        </div>
        <div class="group email">
            <label for="email" class="form-label">Email ID</label>
            <input type="email" class="form-control rad-none" id="email" placeholder="abcd@gmail.com">
        </div>
        <div class="group action d-flex">
            <div class="w-48 text-start me-2">
                <button type="button" class="btn btn-outline-secondary cancel-button rad-none w-100"
                    (click)="Cancel()">Cancel</button>
            </div>
            <div class="w-48 text-end ms-2">
                <button type="button" class="btn btn-secondary custom-button rad-none w-100" (click)="SendLink()">Send
                    Link</button>
                <app-pop-ups [Content]="Content" [Heading]="Heading"></app-pop-ups>
            </div>
        </div>
    </div>
</section> -->


<section class="section">
    <div class="container">
        <div class="row justify-content-center align-items-center pb-0">
            <div class="col-lg-5 col-md-8 col-sm-10 col-12 p-5 pt-3 pb-0">
                <img  width="100%" src="../../../assets/Images/AbbVie Brand Line_1line_DarkBlue_CMYK 1.svg" alt="">
            </div>
        </div>
        <div class="row justify-content-center align-items-center p-1 pt-0">
            <div class="col-lg-5 col-md-8 col-sm-10 col-12 p-4 pb-5">
                <div class="Forgot-password p-2 pb-0 ps-lg-2 pe-lg-2 ps-md-2 pe-md-2 ps-sm-2 pe-sm-2 ps-0 pe-0">
                    <p>Forgot Password</p>
                </div>
                <div class="p-2 pt-0 ps-lg-2 pe-lg-2 ps-md-2 pe-md-2 ps-sm-2 pe-sm-2 ps-0 pe-0">
                    <label for="email" class="form-label">Email ID</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="d-flex pt-3 ps-lg-2 pe-lg-2 ps-md-2 pe-md-2 ps-sm-2 pe-sm-2 ps-0 pe-0">
                    <div class="w-50 text-start pe-2">
                        <button type="button" class="btn btn-outline-secondary w-100 cancel"
                            (click)="Cancel()">CANCEL</button>
                    </div>
                    <div class="w-50 text-end ps-2">
                        <button type="button" class="btn btn-secondary w-100 sendLink"
                        (click)="SendLink()">SEND LINK</button>
                        <app-pop-ups [Content]="Content" [Heading]="Heading"></app-pop-ups>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>