.section {
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../../../assets/Images/CandidateLoginBackground.png');
    background-size: cover;
    background-position: center;
}

.container {
    min-height: calc(100vh - 55px);
}

.reset-password {
    font-size: 24px;
    font-weight: 700
}

.eye-icon {
    position: relative;
    left: 90%;
    bottom: 35px;
}

.help {
    cursor: pointer
}

.form-control {
    padding: 0.675rem 0.75rem;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-label {
    opacity: 0.6;
}

.submit {
    padding: 0.675rem 0.75rem;
    border-radius: 10px;
    background: #071D49;
}

.cancel {
    padding: 0.675rem 0.75rem;
    border-radius: 10px;
    background: #ffffff;
    color: #071D49;
    border-color: #071D49;
}

.submit:hover,
.submit:active,
.submit::after,
.submit:focus {
    background: #071D49;
    color: white;
}

.cancel:hover,
.cancel:active,
.cancel::after,
.cancel:focus {
    background: white;
    color: #071D49;
    border-color: #071D49;
}

.list{
    opacity: 0.6;
}

.password-div{
    height: 83px;
}

.conditions{
    font-size: 14px;
}